@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("./assets/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf");
}

:root {
  --purple: hsl(263, 55%, 52%);
  --light-purple: #a775f1;
  --blue-grey: hsl(217, 19%, 35%);
  --white: hsl(0, 0%, 100%);
  --navy: hsl(219, 29%, 14%);
  --grey: #ecf2f8;

  --header-text: 1.25rem;
  --item-title: 0.688rem;
  --item-name: 0.813rem;

  --paragraph-line-height: 1.125rem;

  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;

  --title-opacity: 0.5;
  --paragraph-opacity: 0.7;

  --barlow: "Barlow Semi Condensed", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr; /* one column */
  grid-gap: 1.5rem;
  color: var(--white);
  background-color: var(--grey);
  padding: 0 1rem 0 1rem;
  margin-bottom: 4rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(170, 88%, 56%);
}

.item-box {
  padding: 1.5rem 2rem 1.25rem 2rem;
  border-radius: 1rem;
}

.flex-user {
  display: flex;
  flex-direction: column;
}

.flex-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.width-img {
  width: 1.75rem;
  height: 1.75rem;
}

.image-circle {
  border-radius: 50%;
}

.image-border-purple {
  border: solid 0.125rem var(--light-purple); /* Replace #000000 with your desired border color */
}

.image-border-dark-purple {
  border: solid 0.125rem var(--purple); /* Replace #000000 with your desired border color */
}

.purple-item-box {
  background-color: var(--purple);
  background-image: url("./images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) top;
}

.blue-grey-item-box {
  background-color: var(--blue-grey);
}

.white-item-box {
  color: var(--blue-grey);
  background-color: var(--white);
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.2);
}

.navy-item-box {
  background-color: var(--navy);
}

.item-header {
  font-family: var(--barlow);
  font-size: var(--header-text);
  font-weight: var(--semi-bold);
}

.item-paragraph {
  opacity: var(--paragraph-opacity);
  font-size: var(--item-name);
  font-family: var(--barlow);
  font-weight: var(--medium);
  line-height: var(--paragraph-line-height);
}

.item-name {
  font-family: var(--barlow);
  font-size: var(--item-name);
  font-weight: var(--medium);
}

.item-title {
  opacity: var(--title-opacity);
  font-family: var(--barlow);
  font-size: var(--item-title);
  font-weight: var(--medium);
}

.itemImg {
}

/* Moderate violet: hsl(263, 55%, 52%)
Very dark grayish blue: hsl(217, 19%, 35%)
Very dark blackish blue: hsl(219, 29%, 14%)
White: hsl(0, 0%, 100%) */
